<!doctype html>
<title>Blue Garden</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<div class=page>
  <h1>Blue Garden</h1>
  <div class=metanav>
  {% if not session.logged_in %}
    <b>You can either login or sign up. That's all.</b>
    <a href="{{ url_for('login') }}">log in</a><b> or </b>
    <a href="{{ url_for('sign_up') }}">sign up</a>
  {% else %}
    <a href="{{ url_for('logout') }}">log out</a>
  {% endif %}
  </div>
  {% for message in get_flashed_messages() %}
    <div class=flash>{{ message }}</div>
  {% endfor %}
  {% block body %}{% endblock %}
</div>
