{% extends "layout.html" %}
{% block body %}
<!--  {% if session.logged_in %}
    <form action="{{ url_for('add_entry') }}" method=post class=add-entry>
      <dl>
        <dt>Title:
        <dd><input type=text size=30 name=title>
        <dt>Text:
        <dd><textarea name=text rows=5 cols=40></textarea>
        <dd><input type=submit value=Share>
      </dl>
    </form>
put in a logged on user list here

  {% endif %}
  <ul class=entries>
  {% for entry in entries %}
    <li><h2>{{ entry.usrname }}</h2>{{ entry.usrpass }}
  {% else %}
    <li><em>Don't forget to implement this</em>
  {% endfor %}
  -->
  </ul>
{% endblock %}
